*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "American Typewriter", sans-serif ;
    background: #000;
    color: #fff
}
.bookList{
    width: 90%;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}
@media screen and (min-width: 768px){
    .bookList{
        grid-template-columns: repeat(3,1fr);
        align-items: start;
    }
}
.book{
    background: #222;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
.book img{
    width: 100%;
    object-fit: cover;
}
.book h2{
    margin-top: 1rem;
    font-size: 1rem;
}
.book h4{
    color: #617d98;
    font-size: .75rem;
    margin-top: .5rem;
}
